.container{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    
    width: 1000px;
    height: 1000px;
    max-width: 1000px;
    max-height: 1000px;

    margin: auto;
    border: medium solid maroon;
    align-items: center;
    justify-content: center;
    gap: 12px;

    margin: 32px; 
}
.h:hover{color: black}
